<!-- Experience Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">EXPERIENCE</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ulta.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jun - Aug 2018</h4>
                                    <h4 class="subheading">Mobile Development Intern</h4>
                                    <h5 class="subheading">Ulta Beauty</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" style="text-align:left">Worked on projects for guest mobility, enterprise mobility, and digital innovation while completing a larger AR project for the company. <br/><br/>
                                        •	Developed an interactive AR app that demonstrates the potential of AR to a retailer and their mobile shopping experience <br/>
                                        •	Worked extensively with ARKit and Xcode to develop a custom environment for a 3D model to be placed and manipulated by the user <br/>
                                        •	Implemented an automated build script feature that pushed a final build directly to the Google Play store instead of going through a third party <br/>
                                        •	Attended meetings and helped evaluate vendor strategy with digital innovation <br/>
                                        •	Worked on tickets to fix bugs and contribute to the codebase of both the guest and enterprise app
                                            
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/giantsp.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May - Jun 2018</h4>
                                    <h4 class="subheading">Independent Consultant</h4>
                                    <h5 class="subheading">Giant Sparkplug LLC</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Returned to GSP as a UX/UI consultant to lead the visual design of a companion app to a board game. <br/><br/>
                                        •	Designed the user interface of an app that acts as a virtual fourth player for the board game Lisboa <br/>
                                        •	Collaborated with the creator to improve the controls and user experience <br/>
                                        •	Provided new designs that tied in the board game’s aesthetic into the app to create a more consistent playing experience <br/>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/giant.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May - Aug 2017</h4>
                                    <h4 class="subheading">Mobile Application Intern</h4>
                                    <h5 class="subheading">Giant Sparkplug</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted" style="text-align:left">Started at GSP as part of a small team that ported an Android app to iOS and began the development process. <br/><br/>
                                        •	Analyzed and constructed data maps for the iOS app and connected user input to the model <br/>
                                        •	Worked closely with senior engineers to build out the app from scratch and develop its hierarchy using OOP <br/>
                                        •	Focused mainly on saving user input to disk and configuring the camera and photo library in the app <br/>                                        
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>