 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            {% if post.img %}
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            {% endif %}
                            {% if post.vid %}
                            <video src="vid/{{post.vid}}" class="img-responsive img-centered" type="video/mp4" controls> </video> </video>
                            {% endif %}
                            <br>
                            <p align="center">{{ post.description }}</p>
                            <p align="left">{{ post.p2 }}</p>
                            <ul class="list-inline item-details">
                                <li>Used:
                                    <strong><font color=e60122>{{ post.client }}</font>
                                    </strong>
                                </li>
                                <li>Learned:
                                    <strong><font color=e60122>{{ post.category }}</font>
                                    </strong>
                                </li> 
                                <li>Project Status:
                                    <strong><font color=e60122>{{ post.project-date }}</font>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
