<!-- About Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">HELLO, I'M MADDIE</h2>
                    <h3 class="section-subheading text-muted">I am a passionate iOS developer who loves design, public speaking, and tacos.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">University of Cincinnati</h4>
                    <p class="text-muted">I am a fourth year student at UC with plans to graduate in May of 2021. If I tell you how much 
                        I am involved in on campus you probably wouldn't believe me.  
                        I am a campus tour guide, so I get to talk to groups of parents and students every week about how much
                        I love being a bearcat, which has inspired me to get a minor in communications. I am currently the vice president of 
                        ACM at UC, where I have given tech talks about UX design and iOS development.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Computer Science</h4>
                    <p class="text-muted">I study computer science at UC and enjoy being involved with the tech community on campus.
                        My favorite event of the year is RevolutionUC, which is UC's student-run hackathon that had +380 attendees last year. 
                        I have helped organized the event for the past three years and this year I will act as Hacker Experience Lead, Branding Lead, 
                        and Marketing Lead as well as assisting the logistics team. I absolutely love hackathons and the way that 
                        it brings the tech community together, which can lead to some truly inspiring and mind-blowing projects.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mobile Development</h4>
                    <p class="text-muted">I have been developing mobile apps for iOS since 2016. I have a wide range of experience from working 
                        on large beauty retail and grocery apps to consulting and contracting for startups. Coding brings me so much joy
                        but I have a secret love for UX and UI design. I want to continue iOS development throughout my career and am very excited to see 
                        where it takes me. I am currently looking for a co-op for Summer 2020.
                    </p>
                </div>
            </div>
        </div>
    </section>