<!-- About Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">HELLO, I'M MADDIE</h2>
                    <h3 class="section-subheading text-muted">I am a passionate developer with a particular fascination for mobile application development.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">University of Cincinnati</h4>
                    <p class="text-muted">I am a third year student at UC in a five year engineering co-op program, 
                        with plans to graduate in May of 2021. I love being a bearcat and am involved with a lot of technical and social clubs on campus. 
                        I am a campus tour guide, so I get to talk to groups of parents and students every week about how much
                        I love the university. Also, I am currently the secretary of ACM at UC, and gave a tech talk about
                        iOS development earlier this school year.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Computer Science</h4>
                    <p class="text-muted">I study computer science at UC and enjoy being involved with the tech community on campus.
                        Last year, I helped plan RevolutionUC, which is UC's student-run hackathon that has +300 attendees. 
                        I am a hackathon enthusiast and try to go to as many as possible during the school year because I love learning
                        about new tech and meeting other Ohio hackers.
                        
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mobile Development</h4>
                    <p class="text-muted">I have been developing mobile applications for iOS since 2016. I have experience 
                        working on large retail apps as well as small apps I've helped develop from scratch. I enjoy UX and UI design,
                        and try to incorporate innovative and useful features into every app I touch. I want to continue mobile
                        development throughout my career and am currently doing a co-op rotation at Kroger Technology as their Mobile Development Intern.
                    </p>
                </div>
            </div>
        </div>
    </section>